<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">YESS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balance">
                <span class="oi oi-chart" aria-hidden="true"></span> Balance
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movimientos">
                <span class="oi oi-list" aria-hidden="true"></span> Movimientos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamos">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Préstamos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuracion">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuración
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}